{%extends 'all-news/base.html'%}
{% block content %}
{{block.super}}
<!-- <div class="container"> -->
<!-- Looping through news   -->
{% for news_item in news %}
<div class="row">
  <!-- displaying News articles -->
  <div class="card" style="width: 25em;">
    <!--Display news Article images  -->
    <div class="image">
      <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image" id="img">
    </div>
    <div class="card-body">
      <div style="text-align: center;">
        <h2 class="text-center"><strong>{{ news_item.title }}</strong> </h2>
        <p>{{ news_item.post }}</p>
      </div>
    </div>
  </div>
</div>
  {% empty %}
  <div class="row">
    <h2 class="text-center">There No News Items</h2>
  </div>
  {% endfor %}
  <!-- </div> -->
  {% endblock %}