{%extends 'all-news/base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if articles%}
    <h2>Found {{ articles|length }} of searched term {{message}}</h2>
    {% else %}
    <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

    {% if articles %}
    {% for article in articles %}
    <div class="card" style="width: 25em;">
    <!--Display news Article images  -->
    <div class="image">
      <img src="{{article.article_image.url}}" class="img-responsive" alt="Image" id="img">
    </div>
    <div class="card-body">
      <div style="text-align: center;">
        <h2 class="text-center"><strong>{{ article.title }}</strong> </h2>
        <p>{{ article.post }}</p>
      </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}